footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 15px;
}

.footer-section h3 {
    color: #f2a900;
    margin-bottom: 15px;
}

.footer-section p {
    line-height: 1.6;
}

.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #f2a900;
}

/* Footer Bottom */
.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    color: #aaa;
}
footer{
    font-family: 'Courier New', Courier, monospace;
}
/* Styles for iPhone and other small devices */
@media (max-width: 1254px) {
    body{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    
    .logo {
        display: none;
    }
    
    .menu-item {
        display: none; /* Hide the menu items on small screens */
    }

    .menu1{
        display: flex; /* Show the menu items on small screens */
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .menu-item1{
        display: block; /* Show the menu items on small screens */
    }
    .menu-item1:hover {
        background-color: aliceblue;
        color: black;
        cursor: pointer;
        border-radius: 50%
    }
    .horizontal {
        display: none; /* Hide the horizontal menu on small screens */
    }
    
    .slider {
        width: 100%;
        margin:20px;
    }
    .container{
        width: 100%;
        margin-bottom: 20px;
    }
    .animated-image {
        width: 100%;
    }
    
    .introduction {
        width: 100%;
        flex-direction: column;
    }

    .item-intro {
        width: 90%;
        margin: 10px 0;
        font-size: 18px;
        transform: scale(0.9);
    }
    .item-intro:hover {
        transform: scale(1);
        transition: 0.5s;
    }
    .whythefirst {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: auto;
    }

    .text-whythefirst, .text-whythefirst1 {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    
    .image-whythefirst {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .image-whythefirst-left {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    
    .content-whythefirst-right {
        width: auto;
        font-size: 24px;
        text-align: center;
    }
    
    .detail-whythefirst1 {
        flex-direction: column;
        text-align: center;
    }
    
    .read-more-destination {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: start;
        font-size: 18px;
    }
    img{
        max-width: 350px;
        width: auto;
        height: auto;
    }
    .footer-container {
        flex-direction: column;
    }
    
    .footer-section {
        margin: 10px 0;
        text-align: center;
    }

    .footer-bottom {
        font-size: 14px;
    }
}


